@(message: String)

@main("Welcome to Play") {

	<script type='text/javascript' src='@routes.Assets.at("js/index.js")'></script>
	
	<table>
		<tr>
			<form action="@routes.Application.addLibrary()" method="post">
			<td>Name</td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td>Street Number</td>
			<td><input type="text" name="street_num" /></td>
		</tr>
		<tr>
			<td>City</td>
			<td><input type="text" name="city" /></td>
		</tr>
		<tr>
			<td>State (Two letter code)</td>
			<td><input type="text" name="state" /></td>
		</tr>
		<tr>
			<td>Zip</td>
			<td><input type="text" name="zip"  /></td>
		<tr>
			<td></td>
			<td><button>Add Library</button></td>
			</form>
		</tr>
		<tr>
			<td>--------</td>
			<td>----------------</td>
		</tr>

		<tr>
		  <form action="@routes.Application.getLibraries()/" method="get">
			<td colspan=2><button>View Libraries JSON</button></td>
			</form>
		</tr>
	</table>	
	<table>
		<tr>
			<form action="@routes.Application.addLibrarian()" method="post">
			<td>Identification Number</td>
			<td><input type="text" name="id_number" /></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td>Date of Birth</td>
			<td><input type="text" name="dob" /></td>
		</tr>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title" /></td>
		</tr>
		<tr>
			<td>Library</td>
			<td><input type="text" name="library"  /></td>
		<tr>
			<td></td>
			<td><button>Add Librarian</button></td>
			</form>
		</tr>
		<tr>
			<td>--------</td>
			<td>----------------</td>
		</tr>

	</table>


	<table>
		<tr>
			<form action="@routes.Application.addMedia()" method="post">
			<td>Call Number</td>
			<td><input type="text" name="call_num" /></td>
		</tr>
		<tr>
			<td>Title</td>
			<td><input type="text" name="street_num" /></td>
		</tr>
		<tr>
			<td>Author</td>
			<td><input type="text" name="city" /></td>
		</tr>
		<tr>
			<td>Publisher</td>
			<td><input type="text" name="state" /></td>
		</tr>
		<tr>
			<td>City</td>
			<td><input type="text" name="zip"  /></td>
		<tr>
		<tr>
			<td>Year</td>
			<td><input type="text" name="year" /></td>
		</tr>
		<tr>
			<td>Copy Number</td>
			<td><input type="text" name="copy_num" /></td>
		</tr>
		<tr>
			<td>Media Type</td>
			<td><input type="text" name="media_type" /></td>
		</tr>
		<tr>
			<td>Library</td>
			<td><input type="text" name="library" /></td>
		</tr>
		<tr>
			<td></td>
			<td><button>Add Media</button></td>
			</form>
		</tr>
		<tr>
			<td>--------</td>
			<td>----------------</td>
		</tr>
<!-- 
		<tr>
		  <form action="@routes.Application.getMedia()/" method="get">
		  	<td><input type="text" name="library"></td>
			<td colspan=2><button>View Media JSON</button></td>
			</form>
		</tr> -->
	</table>	
<!-- 	
	<div id="students"></div>

	<script>
		document.getElementById('students').innerHTML = httpGet('/studentsTable');
	</script>
	 -->
    
}
